/* Esse será o CSS que toda a página vai utilizar (configurações navbar, fontes padrões, etc*/
/* Body:  */
body,html{
    font-family: fontPrincipal;
    margin: 0;
    padding: 0;
    background-color: #fff8ee;
    color: rgb(19, 19, 41);
}


/* Navbar: */
nav{
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    background-color: #69503C;
    margin-bottom: 4%;
    color: black;
}

.navbar-area{
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#iconeNav{
    width: 60px;
    height: 60px;
}

/* */