* {
  font-family: "Poppins", serif;
}

body {
  margin: 0;
  background-image: url("../images/bgTextura.png");
  background-size: contain;
  background-attachment: fixed;
}

.container {
  width: 90%;
  margin: auto;
}

.banner-text {
  display: flex;
  text-align: justify;
}
/* Fim do header */
.banner {
  display: flex;
  width: 100%;
  height: 450px;
  margin-bottom: 200px;
}
/* Começo do Banner */

.banner .container {
  display: flex;
  flex-direction: row;
}

.bus-img .titulo-banner {
  font-family: "Agrandir Regular";
  font-size: 100px;
  font-weight: bold;
  color: #69503c;
  width: 300px;
}

.banner .container .texto-banner {
  font-size: 30px;
  font-weight: bold;
  color: #69503c;
  width: 300px;
  margin-right: auto;
  margin-top: 20px;
  margin-left: 15px;
}

.problema {
  color: #69503c;
  margin-top: 30px;
  font-size: 20px;
  width: 100%;
}

.empresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #69503c;
  font-size: 20px;
  width: 50%;
}

.bus-img {
  display: flex;
  padding-left: 125px;
  padding-top: 15px;
}

.bus-img img {
  margin-right: 40px;
}

.rota-img img {
  width: 50%;
}

.banner-text b {
  font-family: "Poppins";
}

.banner-text li {
  margin-bottom: 5px;
  margin-right: 5px;
  list-style: none;
  font-family: "Poppins";
}

ul li a {
  text-decoration: none;
  color: #69503c;
  text-transform: uppercase;
  font-family: "Poppins";
}

ul li a:hover {
  border-bottom: 3px solid #69503c;
}

p {
  font-family: "Poppins";
  width: 100%;
}

.problema p {
  width: 40%;
}

.banner .container .titulo-banner {
  font-family: "Agrandir Regular";
  font-size: 100px;
  font-weight: bold;
  color: #69503c;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: -80px;
}

.banner .container .texto-banner {
  font-family: "Agrandir Regular";
  font-size: 25px;
  color: #69503c;
  margin-top: 10px;
}

.banner .container .como-funciona {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 70%;
}

.sensores {
  color: #69503c;
  margin-top: 20px;
  font-size: 20px;
}

.sensores li {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 60%;
}

.circle-img {
  background-image: url(../images/bus.jpg);
  height: 500px;
  width: 500px;
  background-size: cover;
  border-radius: 100%;
}

.sensores {
  list-style: circle;
}
