#formulario{
    display: none;
    width: 70%;
    height: 60vh;
    margin: auto;
    border: 3px solid black;
    background-color: #EFEAD0;
    color: black;
    font-size: 26px;
}
#formulario input{
    height: 40px;
    width: 60%;
    font-size: 20px;
}
#formulario button{
    height: 40px;
    width: 140px;
    color: white;
    background-color: black;
}
#contexto{
    width: 30%;
    font-size: 20px;
}
#titulo{
    font-size: 40px;
}
#centro{
    display: flex;
    background-color: #EFEAD0;
}
#contextualizandoProblema p{
    font-size: 23px;
}
#botaoMostrar{
    font-size: 25px;
    background-color: #69503C;
    color: #FFFFFF;
    width: 300px;
    height: 160px;
    margin: auto;
}
#justificativa{
    width: 70%;
    margin: auto;
    font-size: 40px;
}
#area-botao{
    width: 30%;
    margin: auto;
}
#calculePerdas{
    margin-left: 10px;
}
#sub{
    margin-left: 10px;
}
#divNome{
    margin-left: 10px;
}
#divRota{
    margin-left: 10px;
}
#divmediaPassageiros{
    margin-left: 10px;
}
#precoPassagem{
    margin-left: 10px;
}
#divCombustivel{
    margin-left: 10px;
}
#buttonsDiv{
    margin-left: 10px;
}