/* Fonte principal do site */
@font-face {
    font-family: fontPrincipal;
    src: url(../FONTS/Agrandir-Regular.otf);
}
body,html{
    font-family: fontPrincipal;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

nav{
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    background-color: #69503C;
    margin-bottom: 4%;
    color: black;
}
.navbar-area{
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-area{
    width: 60%;
    height: 100%;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    list-style: none;
}
ul button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}
a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
}
.formulario{
    display: none;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 70%;
    height: 500px;
    margin: auto;
    border: 3px solid black;
    background-color: #EFEAD0;
    color: black;
    font-size: 30px;
    padding: 30px;
    margin-top: 30%;
}
.formulario input{
    height: 40px;
    width: 60%;
    margin-left: 45px;
    font-size: 20px;
}
.formulario button{
    height: 40px;
    width: 140px;
    margin-bottom: 10px;
    color: white;
    background-color: black;
}
#contexto{
    margin-left: 15%;
    margin-right: 15%;
    width: 30%;
    text-align: justify;
    font-size: 20px;
    margin-top: 4%;
    margin-bottom: 3%;
}
#titulo{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 40px;
    margin-top: 4%;
    margin-bottom: 3%
}
#onibusImg{
    border-radius: 0%;
    margin-left: 34%;
    width: 500px;
    margin: auto;

}
#centro{
    display: flex;
}
#contextualizandoProblema p{
    font-size: 23px;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
}
#botaoMostrar{
    font-size: 25px;
    background-color: #69503C;
    margin-left: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #FFFFFF;
    width: 300px;
    height: 160px;
}
#linkA{
    color: #000;
    font-size: 30px;
}
#centro{
    background-color: #EFEAD0;
}