body{
    font-family: 'Poppins';
    display: flex;
}

#sidebar{
    display: flex;
    flex-direction: column;
    background-color: #69503C;
    width: 20%;
    padding: 10px 0;
}
#sidebar div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
    margin: 5px 15px;
    background-color: #BD916E;
    border-radius: 38px;
}
#sidebar div span, #sidebar div p{
    color: white;
    font-size: 18px;
    margin: 0;
}
#sidebar div span{
    font-weight: bold;
}

#sidebar .KPIAlerta{
    border: solid 5px #DB0300;
}
#sidebar div .alerta{
    color: #DB0300;
    font-weight: bold;
}

#conteudoDashboard{
    display: flex;
    flex-direction: row;
}

#cabecalhoDashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    margin-top: 15px;
    margin-bottom: 5px;
}
#tituloRota{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    border-radius: 0 38px 38px 0;
    background-color: #BE383B;
    font-family: 'Agrandir Medium';
    padding-right: 30px;
}
#tituloRota h1, #tituloRota p{
    margin: 0 10px;
    color: white;
}
#tituloRota h1{
    font-size: 58px;
}
#tituloRota #infosRota{
    width: 100%;
    margin: 10px;
}
#tituloRota p{
    font-size: 22px;
}
#cabecalhoDashboard span{
    width: 30%;
    font-size: 18px;
    color: #BD916E;
    text-align: center;
    font-weight: bold;
    margin: 0 20px;
}

#corpoDashboard{
    display: flex;
    flex-direction: column;
    width: 90%;
}
#graficoDashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px 0 20px;
}
#graficoDashboard h2{
    margin: 0;
    color: #69503C;
    font-weight: bold;
}
#graficoDashboard p{
    width: 95%;
    margin: 5px 0 5px 0;
    color: #BD916E;
    text-align: justify;
}
#graficoRota{
    width: 100%;
    height: 500px;
    background-color: #BD916E;
}

#sidebarOutrosDados{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 30%;
    margin: 0 10px 0 5px;
}
#classificacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0 5px 0;
}
#classificacao canvas{
    height: 110px;
    width: 65%;
    background-color: #BE383B;
}
#classificacao p{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
#veiculosDashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #69503C;
    padding: 20px;
    border-radius: 38px;
}
#veiculosDashboard h3, #veiculosDashboard p{
    color: white;
    margin: 0;
}
#veiculosDashboard h3{
    font-family: 'Agrandir Medium';
    font-size: 28px;
    margin-bottom: 10px;
}
#tabelaVeiculosDashboard{
    width: 100%;
}
.tabelaVeiculosLinha{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0;
    border-bottom: solid 0.5px #BD916E;
    /*Usando 'border-bottom' tanto para as bordas aparecerem só na horizontal, quanto para as linhas mais centrais não
    juntarem duas bordas (a top de uma e a bottom da outra) em uma borda só mais grossa*/
}
.tabelaVeiculosLinha p{
    width: 30%;
}
#tabelaVeiculosCabecalho{
    font-weight: bold;
    border-top: solid 0.5px #BD916E;
    /*Aqui é usado o 'border-top' para fechar a tabela por cima, já que só as bordas de baixo de cada linha são pintadas,
    como descrito acima*/
}
#btnAdicionarMaisVeiculosRota{
    margin-top: 15px;
    border: none;
    border-radius: 38px;
    padding: 5px 10px;
    font-size: 17px;
    background-color: #BD916E;
    color: white;
    font-weight: bold;
}
#graficoVeiculosRota{
    background-color: #BD916E;
    align-self: center;
    height: 180px;
    width: 70%;
    margin: 10px 0;
}
#sidebarOutrosDados a{
    align-self: center;
    font-size: 22px;
}