@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Agrandir Regular";
  src: url(../fonts/Agrandir-Regular.otf);
}

footer {
  background-color: #69503c;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
  padding: 0;
}

footer h2 {
  margin: 0;
  font-family: "Agrandir Regular";
  font-size: 35px;
  padding: 20px 0px 10px 0px;
}

.paiFooter {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.paiFooter ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0px 0px 0px 0px;
}

.paiFooter li {
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 0px 10px 0px;
}

.paiFooter ul img {
  width: 10%;
  padding-right: 5px;
}

.paiFooter ul li a {
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  color: white;
  border: none;
}

.paiFooter ul li a:hover {
  color: gray;
}

.redes,
.acesso,
.contato {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

i {
  padding-right: 10px;
}
