.header {
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.349);
}

.header .container {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.header .container ul {
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.header .container ul li a{
  display: flex;
  align-items: center;
}

.header .container ul li img{
  width: 35px;
}

h1 {
  font-family: "Agrandir Regular";
  font-size: 50px;
  width: 45%;
  color: #69503c;
  margin-bottom: 160px;
}

ul li a:hover {
  border-bottom: 3px solid #69503c;
}
