/* [Object] Modal
 * =============================== */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  transition: opacity 0.25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

/* Alexandra - Mudei o width e o height e deixei comentado as medidas anteriores */
.modal__inner {
  transition: top 0.25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  /* width: 20%; */
  width: 300px;
  margin: auto;
  overflow: auto;
  background: #BD916E;
  border-radius: 5%;
  padding: 1em 2em;
  /* height: 40%; */
  height: 420px;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

/* Other
   * =============================== */

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  color: #BD916E;
  border-radius: 38px;
  border: none;
  font-size: 18px;
  margin: 40px 0 0 0;
}

.btn:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}

.modal__inner .container {
    flex-direction: column;
}

.modal select {
    border: none;
    border-radius: 2px;
    padding: 0 2px 2px 0;
    margin: 0 0 10px 0;
    font-size: 20px;
}

.modal h2 {
    font-size: 50px;
    font-family: 'Agrandir Regular';
    color: #fff;
}


/* -------------------------------------------------------------------------------------- */

/* Cadastro de funcionário */
.addImgFuncionario{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.ipt_func{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 7px;
  font-size: 20px;
  height: 30px;
  width: 240px;
  border-color: white;
}

.btnFunc{
  width: 100px;
}


/* -------------------------------------------------------------------------------------- */

/* Editar Funcionário */
.funcionarios a{
   color: #fff;
}
