.navbar{
    display: flex;
    margin: 10px;
    width: 700px;
    height: 150px;
}

.navbar h1{
    font-size: 80px;
}

.form {
    display: flex;
    justify-content: space-evenly;
}

.form .container {
    width: 20%;
}

.esquerda, .direita{
    display: flex;
flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-start;
    width: 500px;
    height: 400px;
    /* background-color: aqua; */
    padding: 20px;
    margin: 10px;
}

input{
    border-radius: 15px;
    border-color: #69503c;
    padding: 2px 10px;
}

.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.botao{
    display: flex;
    justify-content: center;
}
.botao button {
    cursor: pointer;
   display: flex;
   align-self: center;
   align-items: center;
   justify-content: center;
   border-radius: 15px;
   font-size: 20px;
   color: white;
   background-color: #69503c;
   width: 130px;
   height: 30px;
   border-style: none;
}


  