.navbar{
    display: flex;
    margin: 10px;
    height: 150px;
    align-items: center;
    margin: 10px 2.5%;
}

.navbar h1{
    font-size: 80px;
    margin: 0;
    height: 85px;
}

.navbar svg{
    width: 85px;
    height: 85px;
    margin-right: 15px;
}

.form {
    display: flex;
    justify-content: center;
}

.form .container {
    width: 20%;
}

.esquerda, .direita{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;
    height: 400px;
    /* background-color: aqua; */
    padding: 20px;
    margin: 0 10%;
}
.esquerda .campos, .direita .campos{
    margin: 10px 0;
}

input{
    border-radius: 15px;
    border-color: #69503c;
    padding: 2px 10px;
}

.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.botao{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.botao button {
    cursor: pointer;
   display: flex;
   align-self: center;
   align-items: center;
   justify-content: center;
   border-radius: 15px;
   font-size: 20px;
   color: white;
   background-color: #69503c;
   width: 130px;
   height: 30px;
   border-style: none;
}


  