.navbar{
    display: flex;
    margin: 10px;
    width: 700px;
    height: 150px;
}

.container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
  }  

.navbar h1{
    font-size: 80px;
}

.esquerda{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 400px;
    /* background-color: aqua; */
    padding: 20px;
    margin: 10px;
}

.direita{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    /* justify-content: end; */
    width: 500px;
    height: 400px;
    /* background-color: bisque; */
    padding: 20px;
    margin: 10px;
}

input{
    border-radius: 15px;
    border-color: #69503c;
}

.campo{
    display: flex;
    justify-content: center;
}
.botao{
    display: flex;
    justify-content: center;
}
.botao button{
   display: flex;
   align-self: center;
   align-items: center;
   justify-content: center;
   border-radius: 15px;
   font-size: 20px;
   color: white;
   border-color: #69503c;
   background-color: #69503c;
   width: 130px;
   height: 30px;

}


  