* {
    font-family: arial;
}

body {
    margin: 0;
}

.header {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

ul {
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #69503c;
}

.logo {
    width: 125px;
    padding-top: 25px;
    padding-left: 50px;
}

.banner-img {
    background-image: url("../images/banner.jpeg");
    height: 500px;
    background-size: cover;
    border-radius: 100%;
}

.banner .container {    
    justify-content: space-evenly;
    align-items: center;
}

.btn-area {
    width: 100%;
    padding: 50px;
}

.img-area {
    padding-left: 200px;
    width: 100%;
}

.img-area .banner-img {
    width: 500px;
    height: 500px;
}

.banner h1 {
    font-size: 50px;
    width: 45%;
    color: #69503c;
    margin-bottom: 160px;
}

.banner button {
    background-color: #69503c;
    color: #fffce3;
    border-radius: 20px;
    border-style: none;
    width: 25%;
    height: 40px;
    font-size:large;
    font-weight: bold;
}
