@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Agrandir Regular";
  src: url(../fonts/Agrandir-Regular.otf);
}

#containerAlertas{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 285px;
    padding: 0 10px;
}

.mensagem-alarme {
    font-family: 'Agrandir Regular';
    display: flex;
    justify-content: center;
    background-color: #69503c;
    color: #fffce3;
    width: 100%;
    border-radius: 15px;
    font-size: 4vh;
    border: solid 1px white;
    animation-name: pulsar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 10px 0;
    align-items: center;
}

.mensagem-alarme span{
    cursor: pointer;
    align-self: flex-start;
    font-size: 14px;
    margin: 5px 0;
}

.mensagem-alarme h3 {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bold;
    margin: 2px 0;
}

.alarme-sino {
    width: 100px;
    height: 75px;
    background-image: url('https://media4.giphy.com/media/cL4VwGyAEP76FQV4vs/giphy.gif?cid=6c09b9528c6313ced515d978355db4b287dd96efb71aaded&rid=giphy.gif&ct=s.gif');
    background-size: cover;
}

small {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.informacao {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


@-webkit-keyframes pulsar{
    0% {
      box-shadow: 0 0 0 0px white;
    }
    70% {
        box-shadow: 0 0 0 5px #dd0000a4;
    }
    100% {
        box-shadow: 0 0 0 0px white;
    }
  }