@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Agrandir Regular";
  src: url(../fonts/Agrandir-Regular.otf);
}


.mensagem-alarme {
    font-family: 'Agrandir Regular';
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    background-color: #69503c;
    color: #fffce3;
    height: 150px;
    width: 300px;
    border-radius: 20%;
    font-size: 4vh;
    border: solid 1px white;
    animation-name: pulsar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.mensagem-alarme p {
    cursor: pointer;
}

.mensagem-alarme h3 {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2px;
}

.alarme-sino {
    width: 35%;
    height: 5px;
    background-image: url('https://media4.giphy.com/media/cL4VwGyAEP76FQV4vs/giphy.gif?cid=6c09b9528c6313ced515d978355db4b287dd96efb71aaded&rid=giphy.gif&ct=s.gif');
    background-size: cover;
    padding-bottom: 70px;
    margin-top: 30px;
}

small {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.informacao {
    /* display: flex;
    flex-direction: column;
    justify-content:center;
    background-color:#69503c;
    color: #fffce3;
    height: 150px;
    width: 300px;
    border-radius: 20%;
    font-size: 4vh; */
    display: flex;
    width: 50%;
    flex-direction: column;
}


@-webkit-keyframes pulsar{
    0% {
      box-shadow: 0 0 0 0px white;
    }
    70% {
        box-shadow: 0 0 0 5px #dd0000a4;
    }
    100% {
        box-shadow: 0 0 0 0px white;
    }
  }