* {
  font-family: "Poppins", serif;
}

body {
  margin: 0;
  background-image: url("../images/bgTextura.png");
  background-size: contain;
  background-attachment: fixed;
}

p{
  margin: 0;
}

/* Fim do header */
.banner {
  /* display: flex; */
  width: 100%;
  margin: 20px 0;
}

/* Começo do Banner */

/* .banner .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
} */

.titulo-banner {
  font-family: "Agrandir Regular";
  font-size: 100px;
  font-weight: bold;
  color: #69503c;
}

.banner .container .texto-banner {
  font-size: 30px;
  font-weight: bold;
  color: #69503c;
}

.problema,
.empresa {
  color: #69503c;
  font-size: 20px;
  margin: 0 10px;
  height: fit-content;
}
.problema{
  width: 40%;
}
.empresa {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}
.empresa img{
  height: 250px;
}
.circle-img {
  background-image: url(../images/bus.jpg);
  background-size: cover;
  border-radius: 100%;
  margin: 0 50px;
  width: 240px;
  height: 240px;
}

.bus-img {
  display: flex;
  align-items: center;
  padding: 15px 125px;
}

.bus-img img {
  margin-right: 40px;
}

.comoFunciona{
  align-items: center;
}
.topicos{
  width: 60%;
  flex-direction: column !important;
}
.rota-img img {
  width: 40%;
}

.banner-text b {
  font-family: "Poppins";
}

.banner .container .titulo-banner {
  font-family: "Agrandir Regular";
  font-size: 100px;
  font-weight: bold;
  color: #69503c;
}

.banner .container .texto-banner {
  font-family: "Agrandir Regular";
  font-size: 25px;
  color: #69503c;
}

.banner .container .como-funciona {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 70%;
}

.sensores {
  color: #69503c;
  font-size: 20px;
}

.sensores li {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.sensores {
  list-style: circle;
}

/* Tela 3 Comandos  Resultados*/

.tela3 img {
  width: 800px;
  height: 500px;
  margin-left: 750px;
}

.tela3 {
  width: 100%;
}

.tela3 h1 {
  font-size: 40px;
}

.img {
  float: right;
  margin-right: 60px;
  position: absolute;
  top: 20%;
  right: 0;
  width: 600px;
  height: 600px;
  left: 60%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resultados{
  width: 100%;
  margin: 20px;
}
.resultados .titulo-banner {
  font-size: 70px;
  font-weight: bold;
  color: #69503c;
}
.resultados .area-banner {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  color: #69503c;
  flex-direction: row;
  justify-content: space-between;
}

.img {
  float: right;
  margin-right: 60px;
  position: absolute;
  top: 20%;
  right: 0;
  width: 600px;
  height: 600px;
  left: 60%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tela 2 Comandos Saiba Mais*/

.tela2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.tela2 h1, .tela2 p, .tela2 ul{
  color: white;
}
.tela2 h1 {
  font-size: 25px;
}
.tela2 ul{
  list-style: none;
  padding: 0;
}
.caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 30px;
  margin: 30px;
  background-color: rgba(105, 80, 60, 0.9);
  border-radius: 20%;
  width: 30%;
}

.footer {
  background-color: #69503c;
  padding: 30px;
  text-align: center;
  align-items: center;
}
.footer p {
  color: white;
  font-size: 30px;
}

#containerGráfico{
  width: 300px;
  height: 300px;
}