@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Agrandir Regular";
  src: url(../fonts/Agrandir-Regular.otf);
}

#imgOnibusCriacao {
    margin: 10px 0;
    height: 150px;
    width: 800px;
    align-self: center;
    object-fit: contain;
    margin: 10px 0;
}

.content {
    flex-direction: column;
    padding: 10px 0;
}

.form {
    display: flex;
    justify-content: space-evenly;
}

.conteudos .caixaContent {
    display: flex;
    flex-direction: column;
}

p, input, option, select {
    color: #69503C;
    font-family: 'Poppins';
    margin: 0;
}

.caixaContent a{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.caixaContent button {
    min-width: 15%;
    align-self: center;
    border-radius: 38px;
    border-style: none;
    background-color: #BD916E;
    color: #fff;
    padding: 10px 25px 10px 25px;
    font-family: 'Poppins';
    font-size: medium;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
}

.caixaContent input, select {
    background-color: #fff;
    padding: 10px 5px;
    margin: 2.5px 0;
    border-style: none;
    border-radius: 5px;
}

.form {
    align-items: center;
}

.funcionarios p {
    color: #fff;
}

.lista-rotas {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 215px;
    margin-top: 20px;
}

.lista-rotas ul {
    display: block;
    font-weight: bold;
    list-style: disc;
    text-decoration: underline;
    margin-top: 0;
}

.btn-area {
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: space-evenly;
}

#btnExcluir {
    color: #C81F1D;
}

.funcionarios a {
    color: #fff;
}

.linkRota{
    justify-content: start !important;
    color: black;
}
.linkRota:hover{
    border: none;
}

#opcional{
    margin: 0;
    font-size: 12px;
}

#coordenadas{
    display: flex;
    flex-direction: row;
}
#coordenadas input{
    width: 90px;
    margin: 0 2px;
    text-align: center;
}