.header {
  width: 50%;
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.349);
  border-bottom-left-radius: 50px;
}

.header .container {
  align-items: center;
}

.header .container ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.header .container ul li a{
  display: flex;
  align-items: center;
}
.header .container ul li a:focus-visible{
  text-decoration: underline;
}

.header .container ul li img{
  width: 35px;
}

h1 {
  font-family: "Agrandir Regular";
  font-size: 50px;
  color: #69503c;
  margin-bottom: 15px;
}

ul li a:hover {
  border-bottom: 3px solid #69503c;
}