.header {
  width: 50%;
  position: fixed;
  top: -10px;
  right: 0px;
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.349);
  border-bottom-left-radius: 50px;
  z-index: 100;
}

.sticky{
  background-color: #69503c;
  border-bottom: 1px solid #FFFFFF1a;
  width: 50%;
}

.sticky .container ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.sticky .container ul li a{
  color: white;
}

.header .container {
  align-items: center;
}

.header .container ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  z-index: 101;
}

.header .container ul li a {
  display: flex;
  align-items: center;
  z-index: 101;
}

.header .container ul li a:focus-visible {
  text-decoration: underline;
}

.header .container ul li img {
  width: 35px;
}

h1 {
  font-family: "Agrandir Regular";
  font-size: 50px;
  color: #69503c;
  margin-bottom: 15px;
}

ul li a:hover {
  border-bottom: 3px solid #69503c;
}

.container ul li:nth-of-type(5) {
  border: solid 1px #69503c;
  padding: 10px;
  position: relative;
}

.container ul li:nth-of-type(5)::before {
  position: absolute;
  content: "";
  top: 10px;
  right: -1px;
  width: 1px;
  height: 30px;
  background-color: white;
}

.container ul li:nth-of-type(5):hover::before {
  position: absolute;
  content: "";
  top: 10px;
  right: -1px;
  width: 1px;
  height: 35px;
  background-color: white;
}

.container ul li:nth-of-type(5)::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -1px;
  width: 1px;
  height: 30px;
  background-color: white;
}

.container ul li:nth-of-type(5):hover::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -1px;
  width: 1px;
  height: 35px;
  background-color: white;
}

#header,
#menu {
  display: none;
}

@media(min-width: 900px){
  .header .container ul li a {
    font-size: 22px;
  }
  .header{
    width: 60%;
  }
}

@media(max-width: 900px){
  .header .container ul li a {
    font-size: 18px;
  }
  .header{
    width: 70%;
  }
}

@media (max-width: 700px) {
  #main {
    display: none;
  }

  #header,
  #menu {
    display: block;
  }

  .header {
    display: none;
  }

  #header {
    width: 100%;
    height: 5rem;
    background-color: #69503c;
    padding: 1rem;
  }

  #menu {
    background: #de4152;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.7s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1100;
  }

  #menu.open {
    opacity: 1;
    visibility: visible;
  }

  #menu.open li:nth-child(1) {
    animation-delay: 0.1s;
  }

  #menu.open li:nth-child(2) {
    animation-delay: 0.2s;
  }

  #menu.open li:nth-child(3) {
    animation-delay: 0.3s;
  }

  #menu.open li:nth-child(4) {
    animation-delay: 0.4s;
  }

  #menu.open li:nth-child(5) {
    animation-delay: 0.5s;
  }

  #menu.open li:nth-child(6) {
    animation-delay: 0.6s;
  }

  #menu.open li:nth-child(7) {
    animation-delay: 0.7s;
  }

  #menu.open li:nth-child(8) {
    animation-delay: 0.8s;
  }

  #menu.open li:nth-child(9) {
    animation-delay: 0.9s;
  }

  #menu.open li:nth-child(10) {
    animation-delay: 1s;
  }

  #menu.open li {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
  }

  #menu ul:hover a {
    opacity: 0.5;
  }

  #menu ul a {
    -webkit-transform: translateZ(0);
    transition: opacity 0.3s ease-in-out;
  }

  #menu ul a:hover {
    opacity: 1;
  }

  #menu .main-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #menu .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #menu .main-nav a {
    color: #fff;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  #menu .main-nav a:first {
    padding-top: 0;
  }

  #menu .menu-footer {
    padding: 2rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }

  #menu .menu-footer ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #menu .menu-footer ul li {
    display: inline;
    margin: 0 1rem;
  }

  #menu .menu-footer a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  .toggle-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 50px;
    outline: none;
    padding: 0;
    pointer-events: initial;
    position: relative;
    vertical-align: middle;
    width: 50px;
    z-index: 1110;
  }

  .toggle-menu span {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    left: calc(50% - 13px);
    position: absolute;
    top: calc(50% - 1px);
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;
  }

  .toggle-menu span:before,
  .toggle-menu span:after {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;
  }

  .toggle-menu span:before {
    top: 7px;
  }

  .toggle-menu span:after {
    top: -7px;
  }

  .toggle-menu.active span {
    background-color: transparent;
    transition: background 0.2s ease-out;
  }

  .toggle-menu.active span:before,
  .toggle-menu.active span:after {
    transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
  }

  .toggle-menu.active span:before {
    top: 0;
    transform: rotate3d(0, 0, 1, -45deg);
  }

  .toggle-menu.active span:after {
    top: 0;
    transform: rotate3d(0, 0, 1, 45deg);
  }
}