.logoV1 {
    width: 125px;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 20px;
}



.headerV1 {
    font-family: 'Poppins', sans-serif;
    width: 50%;
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.349);
    border-bottom-left-radius: 50px;

}

.containerV1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.headerV1 .container {
    align-items: center;
}

.headerV1 .container ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.headerV1 .container ul li a {
    display: flex;
    align-items: center;
}

.headerV1 .container ul li img {
    width: 35px;
}


ul li a:hover {
    border-bottom: 3px solid #69503c;
}


.meio {
    display: flex;
    padding-top: 20px;
}

.perguntasV1 {
    color: #69503c;
    font-family: "Poppins";
    font-weight: bolder;
    display: flex;
    font-size: 23px;
    padding-left: 20px;
}

.div_caixona {
    display: flex;
    border-bottom: 3px solid #69503c;
}

.suporte {
    font-family: "Agrandir Regular";
    font-weight: 1000;
    font-size: 50px;
    color: #69503c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 280px;
}



.texto span {
    font-family: "Agrandir Regular";
    color: #69503c;
    display: flex;
   justify-content: flex-end;
   padding-top: 80px;
   padding-left: 650px;
   padding-right: 20px;
   font-size: 20px;
}

.perguntas ul {
gap: 20px;
padding-left: 20px;
margin:0;
margin-top: 20px;
 flex-direction: column;
}


.botao {
    display: flex;
    width: 82%;
    justify-content: flex-end;
}
.btn-area {
    width: 85px;
    align-self: center;
    border-radius: 38px;
    border-style: none;
    background-color: #BD916E;
    color: #fff;
    padding: 10px 25px 10px 25px;
    font-size: medium;
    margin-top: 20px;
}