@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../images/avioes-de-papel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* TO tentando mexer na logo mas ela tá ligada no wallpaper tbm TT */

.logincaixa {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 35%;
    background-color: #69503C;
    border-radius: 20px;
    opacity: 96%;
    flex-direction: column;
    margin-bottom: 150px;
    padding: 15px;
}

h1 {
    color: white;
    margin-bottom: 10px;
}

input {
    width: 70%;
    height: 25px;
    padding: 2px 10px;
    border-radius: 15px;
    border: solid 2px #69503c;
}

button {
    color: white;
    background-color: #c81f1d;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    font-size: 18px;
    border-style: none;
    margin-top: 15px
}

h3 {
    color: white;
    margin-left: 20%;
    font-size: larger;
}

 @media (max-width: 700px){
    .logincaixa {
        width: 76%;
    }

    footer h2 {
        font-size: 20px;
        padding: 20px 20px 10px 0px
    }

    .paiFooter{
        flex-direction: column;
        align-items: center;
    }
    
    .redes,
    .acesso,
    .contato{
        width: 60%;
    }
    

}



.recSenha {
    color: white;
}

footer {
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
}


img {
    display: flex;
}