@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 20px 0;
}

.logo{
    display: flex;
    align-items: center;
    margin: 0;
    width: min-content;
    height: 150px;
    padding: 0;
    margin: 10px 0 10px 2.5%;
}

.logo svg{
    width: 85px;
    height: 85px;
    margin-right: 15px;
}
.logo h1{
    font-size: 85px;
    height: 85px;
    margin: 0;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.formLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #69503c;
}

.formLogin button{
    height: fit-content;
    font-size: 20px;
    padding: 0 10px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 15px;
}
.formLogin button:focus{
    border: solid 2px white;
    outline: solid 1px black;
}

.informativo{
    width: 50%;
    padding: 50px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.informativo p{
    margin: 0;
    padding-bottom: 20px;
    font-weight: 500;
    align-self: flex-start;
}

input{
    width: 100%;
    height: 25px;
    padding: 2px 10px;
    border-radius: 15px;
    border: solid 2px #69503c;
}
input:focus-visible{
    outline-offset: 1px;
    outline: solid 1px black;
}

button{
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #69503c;
    height: 25px;
    text-decoration: underline;
    padding: 0 15px;
}

button:hover{
    cursor: pointer;
}

a p{
    text-decoration: underline;
    color: rgb(102, 51, 134);
    margin: 10px;
}
#aCadastro:focus-visible{
    font-style: italic;
}

#loading{
    height: 50px;
    display: none;
}
#erroSenha{
    color: red;
    animation-duration: 3s;
    display: none;
}
@keyframes sumir{
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}