
.navbar {
    display: flex;
    margin: 10px;
    height: 150px;
    align-items: center;
    margin: 10px 2.5%;
}

.navbar h1 {
    margin: 0;
    margin-left: 15px;
    font-size: 50px;
    font-weight: 500;
}
.navbar div{
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: end;
    font-size: 22px;
}
.navbar #btnSair{
    cursor: pointer;
}
.navbar #btnSair:hover{
    text-decoration: underline;
}

.navbar svg {
    width: 85px;
    height: 85px;
    margin-right: 15px;
}

ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 40px;
}

li {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

a {
    font-family: 'Poppins';
    text-decoration: none;
    color: #69503c;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteudos{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.caixaContent{
    width: 75%;
    margin: 0;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
    background-color: #E4D4C7;
    border-radius: 20px;
}

.contentLinha{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: row;
    background-color: #E4D4C7;
    border-radius: 20px;
}

.titulos{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}
.titulos h2:hover{
    opacity: 90%;
}

.suasRotas, .suasFrotas{
    margin: 0;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #BD916E;
    width: 40%;
    background-color: #E4D4C7;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.suasFrotas{
    background-color: rgba(228, 212, 199, 0.5);
    color: rgba(189, 145, 110, 0.5);
}

.grafico{
    width: 150px;
    display: flex;
    justify-content: center;
}

.suasFrotas:hover, .suasRotas:hover{
    cursor: pointer;
}

.cardVeiculo{
    margin: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
}
.cardVeiculoInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
.cardVeiculo:hover{
    cursor: pointer;
    box-shadow: #69503C 2px 2px 2px;
}
#visu05 .cardVeiculo{
    background-color: #F1F1F1 !important;
    opacity: 0.8;
    color: #BD916E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#visu05 .cardVeiculo h2, #visu05 .cardVeiculo p{
    margin: 0;
}

.visu01, .visu02, .visu03, .cardVeiculo{
    display: flex;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #BD916E;
    width: 350px;
    min-width: 350px;
    gap: 10px;
    flex-wrap: wrap;
}

.txtTitulo{
    font-size: 35px;
}

.visu04, .visu05{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #BD916E;
    width: 350px;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #F1F1F1;
    height: 220px;
}

#visu04{
    display: flex;
    flex-direction: row;
}

.visu04{
    width: 150px;
    text-align: center;
}

.visuPonto{
    cursor: pointer;
}

.visu04 h2, .visu05 h2{
    font-size: 50px;
    margin: 0;
    font-weight: 800;
}

.visu04 p, .visu05 p{
    margin: 0;
}

.tituloBus{
    display: flex;
    align-items: center;
}

.tituloBus h2{
    margin: 0;
}
.tituloBus p{
    padding-left: 10px;
    margin: 0;
    overflow-wrap: anywhere;
}

.qtdVeic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qtdVeic h2{
    font-size: 30px;
    margin: 0;
    line-height: 1;
}

.qtdVeic p{
    font-size: 20px;
    margin: 0;
}

aside{
    background-color: #BD916E;
    width: 20%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 0;
}

.imgHeader{
    background-color: white;
    width: 80%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgHeader img{
    height: 90px;
    width: 80%;
    object-fit: contain;
    border-radius: inherit;
}

.funcionarios{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 80%;
}

aside p{
    padding: 0;
}

aside ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 20px;
}

aside ul li{
    font-family: 'Poppins', sans-serif;
    list-style: disc;
}

aside .btn_adicionar_mais{
    text-align: center;
    width: 100%;
    background-color: white;
    color: #69503C;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 0;
}

aside .btn_adicionar_mais:hover{
    cursor: pointer;
}

.classificRuim, .classificBoa, .classificIdeal{
    font-size: 20px;
    margin-top: 50px;
    position: absolute;
}

.classificRuim{
    color: #DB0300;
}
.classificRegular{
    color: #d86f00;
}
.classificBoa{
    color: #4c52c6;
}
.classificIdeal{
    color: #00BF63;
    -webkit-text-stroke: black 0.5px;
}

#rotas, #rotas02, #rotas03, .rotas{
    display: none;
    position: absolute;
    margin-top: 80px;
    padding: 0;
}

.qtdVeic img{
    width: 200px;
    margin-top: 20px;
}

#imgSupArti{
    width: 300px;
}

.formRotas {
    width: 50%;
    align-self: center;
}

.datalistPonto button{
    width: 200px;
}

#browser{
    width: 50%;
}

#iptCodRota, #iptTipoLinha, #iptPontoInicial, #iptPontoFinal{
    width: 300px;
}