.content{
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #E4D4C7;
  border-radius: 20px;
  padding: 10px;
}

.conteudos{
  flex-direction: column;
}

.container{
  margin-left: 50px;
}

.content .container, .cadPontoLinha{
  display: none;
}

.div_ipt label, .cadPontoLinha label{
  font-family: 'Poppins';
  color: #69503c;     
}

.caixaContent input{
  width: 200px;
}

.btnRota button{
  width: 100px;
  padding: 0;
  padding: 10px;
}

#nomeLinhaSelect, #tipoLinhaSelect, #pontoInicialSelect, #pontoFinalSelect{
  font-family: 'Poppins';
}

#pontosAdicionados{
  font-family: 'Poppins';
  width: 200px;
}

.datalistPonto h3{
  font-family: 'Poppins';
  font-size: 20px;
  color: #69503c;
}

.caixaContent button{
  width: 200px;
}

#browser{
  width: 200px;
}

#listaHover{
  color: red;
}

#listaHover:hover{
  cursor: pointer;
}

.btn-area, .btnReload{
  display: none;
}

.btnReload{
  align-self: center;
}

.btnReload button{
  background-color: #BD916E;
  font-family: 'Poppins';
  border-radius: 20px;
  color: #FFF;
  border-style: none;
  height: 40px;
}