.content{
  width: 100%;
  margin: 0;
  display: block;
  flex-wrap: wrap;
  background-color: #E4D4C7;
  border-radius: 20px;
  padding: 10px;
}

.container{
  margin-left: 50px;
}

.addRota, .div_ipt{
  width: 250px;
}

.div_ipt label, .cadPontoLinha label{
  font-family: 'Poppins';
  color: #69503c;     
}

.caixaContent input{
  width: 200px;
}

.btnRota button{
  width: 100px;
  padding: 0;
  padding: 10px;
}

#nomeLinhaSelect, #tipoLinhaSelect, #pontoInicialSelect, #pontoFinalSelect{
  font-family: 'Poppins';
}

#pontosAdicionados{
  font-family: 'Poppins';
  width: 200px;
}

.datalistPonto h3{
  font-family: 'Poppins';
  font-size: 20px;
  color: #69503c;
}


.caixaContent button{
  width: 200px;
}

#browser{
  width: 200px;
}