.navbar{
    display: flex;
    margin: 10px;
    height: 150px;
    align-items: center;
    margin: 10px 2.5%;
}

.navbar h1{
    font-size: 80px;
    margin: 0;
    height: 85px;
}

.navbar svg{
    width: 85px;
    height: 85px;
    margin-right: 15px;
}

.form {
    padding: 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form .container {
    width: 20%;
}

.esquerda, .direita{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 0 5px;
}
.esquerda .campos, .direita .campos{
    margin: 5px 0;
}

input{
    width: 250px;
    height: 25px;
    padding: 2px 10px;
    border-radius: 15px;
    border: solid 2px #69503c;
}
input:focus-visible{
    outline-offset: 1px;
    outline: solid 1px black;
}
.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.botao{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.botao button {
   cursor: pointer;
   border-radius: 15px;
   font-size: 20px;
   color: white;
   background-color: #69503c;
   width: 130px;
   border-style: none;
}

.botao p a{
    color: rgb(102, 51, 134);
}
  