*{
    font-family: 'Lora', serif;
    }
    
    body{
        margin:0;
    }
    
    .header{
        width: 100%;
        background-color:white;
        border-bottom: 3px;
        display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px;
    }
    
   
    .container{
        display: flex;
        width: 80%;
        margin: auto;
    }
    
    .header .container{
        justify-content: space-between;
        align-items: center;
    
    }

    .navBar {
        display: flex;
        width: 300px;
        list-style:none;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        padding: 10px;
        margin-left: 80% ;
      }
      
      .navBar li {
        font-weight: bold;
        color: #69503C;
        font-size: 20px;
        margin-right: 40px;
      }
      
      .navBar li:nth-child(3) {
        font-size: 70px;
      }
      
    
    /* Fim do header */
    .banner{
        width: 100%;
        height:450px;
    
    }
    /* Começo do Banner */
  

      .banner .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height:100%;
      }

      .banner .container .titulo-banner {
        font-size: 50px;
        font-weight: bold;
        color:#69503C;
        width: 300px;
        margin-right: auto;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: -80px;
      }
      
      .banner .container .texto-banner {
        font-size: 20px;
        font-weight: bold;
        color: #69503C;
        width: 300px;
        margin-right: auto;
        margin-top: 20px;
        margin-left: 15px;
      }
      
      
.sensores {
    color: #69503C;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 5px ;
    font-size: 20px;

  }
  
  .banner-text li {
    margin-bottom: 5px;
    margin-right: 5px ;
    list-style: none;
  }

  
  .problema{
    font-size: 17px;
    margin-right: 0%;
    margin-top: 20px;
    margin-left: 0%;
    color:#69503C
}
 
  .empresa{
      font-size: 17px;
      margin-right: 0;
      margin-top: -230px;
      margin-bottom: 0;;
      margin-left: 490px;
      color: #69503C;
  }
  
      
      
    .container img{
        width: 150px;
        height: 150px;
    }

  
        .como-funciona {
            position: fixed;
            bottom: 30px;
            right: 50%;
            transform: translateX(50%);
            font-size: 30px;
            color: #69503C;
            cursor: pointer;
          }
          

      .como-funciona a {
        color: #69503C;
        text-decoration: none;
      }
      
      .como-funciona:before {
        font-weight: 900;
        font-size: 20px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        color: #69503C;
        padding: 5px;
        border-radius: 50%;
      }
      
    