*{
  font-family: 'Lora', serif;
  }
  
  body{
        margin:0;
        background-image: url(../img/fundo.png);
        background-repeat: repeat;
        background-position: top;
        background-size: cover;
        background-color: #fff;
    }
    
  
  .header{
      width: 100%;
      background-color:white;
      border-bottom: 3px;
      display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     background-image: url(../img/fundo.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  }
  
 
  .container{
      display: flex;
      width: 80%;
      margin: auto;
    }
  
  .header .container{
      justify-content: space-between;
      align-items: center;
  
  }

  .navBar {
      display: flex;
      width: 300px;
      list-style:none;
      justify-content: flex-end;
      align-items: center;
      padding: 10px;
      margin-left: 88% ;
    }
    
    .navBar li {
      font-weight: bold;
      color: #69503C;
      font-size: 20px;
      margin-right: 40px;
    }
    
    .navBar li:nth-child(4) {
      font-size: 60px;
    }
    

  /* Fim do header */
  .banner{
      width: 100%;
      height:450px;
  
  }



.banner {
    width: 100%;
    height: 100%;
}
  /* Começo do Banner */


    .banner .container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height:100%;
    }

    .banner .container .titulo-banner {
      font-size: 80px;
      font-weight: bold;
      color:#69503C;
      width: 300px;
      margin-right: auto;
      margin-left: 5px;
      margin-bottom: 70px;
      margin-top: 0px;
    }
    

.banner-text li {
  margin-bottom: 5px;
  margin-right: 5px ;
  list-style: none;
  color: #69503C;
  margin-top: 50px;
  padding-left: 0;
  padding-right: 5px ;
  font-size: 20px;
}
    
    
  .container img{
      width: 150px;
      height: 150px;
  }


      .contato {
          position: fixed;
          bottom: 30px;
          right: 50%;
          transform: translateX(50%);
          font-size: 25px;
          color: #69503C;
          cursor: pointer;
        }
        

    .contato a {
      color: #69503C;
      text-decoration: none;
    }
    
    .contato:before {
      font-weight: 900;
      font-size: 20px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      color: #69503C;
      padding: 5px;
      border-radius: 50%;
    }

   .circle-img {
      float: right;
      margin-right: 100px;
      position: absolute;
      top:44%;
      right: 0;
      transform: translateY(-50%);
      width: 350px;
      height: 350px;
      border-radius: 50%;
      border: 2px solid #69503C;
      overflow: hidden;
      margin-left: 40%;
      margin-top: 80px;
      left: 23%;

  }
   
  .circle-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .btn {
    background-color: #69503C;
    border-radius: 20px;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }

.retangulo{
  max-width: 1200px; 
  margin: 0 auto;
  background-color: white;
  border: 2px solid #69503C;
  padding: 50px;  
  width: 100%;
  height: 300px;
}


.v p:last-child{
  color: #69503C;
  position: absolute;
  font-weight: bold;
  top: 50%;
  right: 210px;
  transform: translateY(-50%);
  font-size: 50px;
  color: #69503C;

}

.v p:first-child{
  color: #69503C;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translateY(-50%);
  font-size: 50px;
  color: #69503C;

}

a{
  text-decoration: none;
  color: #69503C;
}

ul li a{
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
  margin: 15px 10px;
  color: #69503C;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  transition: all 0.25ms ease-in-out;
}
  
ul li a:hover{
  border-bottom: 3px solid #69503C;
}
    
      
    