* {
  font-family: arial;
}

body {
  margin: 0;
}

.header {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .container {
  justify-content: space-between;
  align-items: center;
}

ul {
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #69503c;
}

.logo {
  width: 125px;
  padding-top: 25px;
  padding-left: 50px;
}

.banner-img {
  background-image: url("../images/banner.jpeg");
  height: 500px;
  background-size: cover;
  border-radius: 100%;
}

.banner .container {
  justify-content: space-around;
}

.btn-area {
  width: 100%;
  padding: 50px;
}

.img-area {
  padding-left: 200px;
  width: 100%;
}

.img-area .banner-img {
  width: 500px;
  height: 500px;
}

h1 {
  font-size: 50px;
  width: 45%;
  color: #69503c;
  margin-bottom: 160px;
}

.banner button {
  background-color: #69503c;
  color: #fffce3;
  border-radius: 20px;
  border-style: none;
  width: 25%;
  height: 40px;
  font-size: large;
  font-weight: bold;
}

.about .container {
  justify-content: space-between;
}

.text-area {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 28%;
}

.card-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 30%;
  align-items: flex-end;
  padding-right: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 100%;
  border-radius: 50px;
  box-shadow: 15px 15px #69503c;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 50px;
}

.card img {
  width: 60%;
}

#satisfacao-img {
  width: 100%;
  padding-bottom: 10px;
}

#agilidade-img {
  width: 70%;
  padding-bottom: 5px;
}

.card p {
  width: 50%;
}
p {
  color: #69503c;
  font-size: large;
}

.header h1 {
  padding-left: 50px;
  width: 20%;
  margin-bottom: 50px;
}

.next-page .container a {
  width: 6%;
}

.next-page svg {
    padding-left: 15px;
}

.header .no-logo {
    justify-content: flex-end;
}

.busway {
  flex-direction: column;
}

.busway p {
  width: 50%;
}

.busway h1 {
  margin-bottom: 20px;
}

hr {
  color: #69503c;
}

.previous-page {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}