<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConWay</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/89d28f01ec.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="teste">
        
    </div>

    <footer>
        <div class="paiFooter">
            <div class="redes">
                <h2>Redes Sociais</h2>
                <ul>
                    <li><i class="fa-brands fa-square-twitter fa-2xl" style="color: #ffffff;"></i><a href="">Twitter</a></li>
                    <li><i class="fa-brands fa-square-instagram fa-2xl" style="color: #ffffff;"></i><a href="">Instagram</a></li>
                    <li><i class="fa-brands fa-square-facebook fa-2xl" style="color: #ffffff;"></i><a href="">Facebook</a></li>
                    <li><i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i><a href="">Linkedin</a></li>
                </ul>
            </div>

            <div class="acesso">
                <h2>Acesso Rápido</h2>
                <ul>
                    <li>Página Inicial</li>
                    <li>Login</li>
                    <li>Suporte</li>
                    <li>Contato</li>
                </ul>
            </div>

            <div class="contato">
                <h2>Contato</h2>
                <ul>
                    <li><i class="fa-brands fa-square-whatsapp fa-2xl" style="color: #ffffff;"></i>(11) 94444-4444</li>
                    <li><i class="fa-solid fa-square-phone fa-2xl" style="color: #ffffff;"></i>(11) 4444-4444</li>
                    <li><i class="fa-solid fa-square-envelope fa-2xl" style="color: #ffffff;"></i><a href="mailto:conwayiot.enterprise@gmail.com">E-mail</a></li>
                    <li><i class="fa-solid fa-location-dot fa-2xl" style="color: #ffffff;"></i><a href="https://www.google.com/maps/place/Rua+Haddock+Lobo,+595+-+Cerqueira+César,+São+Paulo+-+SP,+01414-001/@-23.5581662,-46.661538,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce59d2a5270055:0x3c7ea4f4c7d51fb6!8m2!3d-23.5581662!4d-46.661538!16s%2Fg%2F11b8v86f6p">Rua Hadddock Lobo, São Paulo</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>
</html>