.card {
  width: 100%; /* Defina a largura desejada para a card */
  height: 60%; /* Defina a altura desejada para a card */
  border: 1px solid #ccc; /* Apenas para visualização */
}

canvas {
  width: 100% !important;
  height: 100% !important;
}