.alertasAeroporto{
  width: 100%;
}
.escolhaAeroporto{
  width: 80%;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#divTable{
  display: flex;
  flex-direction: row;
}
#divTable td{
  text-align: center;
  vertical-align: middle;
}