html {
    scroll-behavior: smooth;
  }

.select-airport select {
    width: 100%;
}

.campo-totem {
    max-width: 240px;
    display: flex;
    justify-content: space-between;
}
.img-totem {
    width: 100px;
    padding: 0 0 0 20px;
    transition: .3s;
}
.img-totem:hover {
    scale: calc(1.1);
    transition: .3s;
}

#toolbar {
    display: none;
}