* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url("../images/bgTextura.png");
  background-size: contain;
  background-attachment: fixed;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

li {
  font-family: "Poppins", sans-serif;
}

a {
  font-family: "Poppins";
  text-decoration: none;
  color: #69503c;
}

.logo {
  width: 125px;
  padding-top: 25px;
  padding-left: 50px;
}

.banner-img {
  background-image: url("../images/banner.jpeg");
  width: 500px;
  height: 500px;
  background-size: cover;
  border-radius: 100%;
}

.banner .container {
  justify-content: space-around;
}

.btn-area {
  width: 100%;
  margin: 50px;
}

/* .img-area {
  padding-left: 200px;
  width: 100%;
} */

h1 {
  font-family: "Agrandir Regular";
  font-size: 50px;
  color: #69503c;
}

.banner .btn-banner {
  background-color: #69503c;
  color: #fffce3;
  border-radius: 20px;
  border-style: none;
  width: 25%;
  height: 40px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.about .container {
  justify-content: space-between;
}

.text-area {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 28%;
}

.card-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 40%;
  align-items: flex-end;
  padding-right: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50px;
  background-color: #ffff;
  box-shadow: 15px 15px #69503c;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 50px;
}

.card img {
  width: 100px;
  /* height: 150px; */
}

/* .card p {
  width: 50%;
} */
p {
  color: #69503c;
  font-size: large;
  font-family: "Poppins";
}

.about h1 {
  padding-left: 50px;
  width: 20%;
  margin-bottom: 0px;
}

.busway {
  flex-direction: column;
}

.busway p {
  width: 50%;
}

.busway h1 {
  margin-bottom: 20px;
}

hr {
  color: #69503c;
}

.busway-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 50px;
}
.img-carrossel-airway{
  background-image: url("../images/img-banner-airway.png");
  background-size: cover;
}
.img-carrossel-busway{
  background-image: url("../images/busway_banner.png");
  background-size: cover;
}
.img-banner{
  width: 444px;
  height: 444px;
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    padding-left: 0;
  }

  .banner-img {
    width: 100%;
    height: auto;
  }

  .btn-area {
    margin: 20px;
  }
  .banner {
    padding: 10px;
  }

  .text-area,
  .card-area {
    width: 80%;
    /* height: 400px; */
    align-items: center;
    margin-left: 0;
    padding-right: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100px; */
    font-size: 10px;
  }

  .card img {
    width: 90px;
    /* height: 150px; */
  }

  .about h1 {
    width: 80%;
  }
  .about {
    width: 100%;
    /* border: 1px solid red; */
  }
  .about .text-area {
    width: 80%;
  }
  .container .busway-container{
    flex-direction: row;
  }

  .busway-container {
    padding: 0;
  }
  .busway img{
    width: 10px;
  }
  .busway p {
    width: 50%;
    font-size: 20px;
  }
  
  .busway h1 {
    margin-bottom: 20px;
    font-size: 40px;
  }
  .img-banner{
    width: 300px;
    height: 300px;
  }
}


/* Alarme */
#alerta {
  position: absolute;
  right: 0px;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.mensagem-alarme .informacao {
  margin: 10px;
}

.alarme-sino {
  width: 30%;
  height: 30px;
  background-image: url("https://media4.giphy.com/media/cL4VwGyAEP76FQV4vs/giphy.gif?cid=6c09b9528c6313ced515d978355db4b287dd96efb71aaded&rid=giphy.gif&ct=s.gif");
  background-size: cover;
  padding-bottom: 50px;
  margin-bottom: 30%;
}

.informacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #69503c;
  color: #fffce3;
  height: 150px;
  width: 300px;
  border-radius: 20%;
  font-size: 4vh;
  font-weight: bold;
}
/* img{
  width: 10px !important;
} */
